name: Publish package to GitHub Packages

on:
  release:
    types: [published]

jobs:
  publish:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '24'
          distribution: 'temurin'
          cache: maven
      - uses: whelk-io/maven-settings-xml-action@v21
        with:
          repositories: '[{ "id": "s42Github", "url": "https://maven.pkg.github.com/studio42gmbh/*" }]'
          servers: '[{ "id": "s42Github", "username": "${env.USER}", "password": "${{ secrets.S42_GITHUB_TOKEN }}" }]'
      - name: Publish package
        run: mvn --batch-mode deploy
        env:
          S42_GITHUB_TOKEN: ${{ secrets.S42_GITHUB_TOKEN }}
